<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sollex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sollex.Properties.Settings>
            <setting name="RowsCount" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="SheetName" serializeAs="String">
                <value>Big data</value>
            </setting>
            <setting name="InputsCount" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="RowsOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColsOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LearningSetSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TriesCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IntervalsCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IsDiscretized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnsToTake" serializeAs="String">
                <value>1,4,5,7</value>
            </setting>
        </Sollex.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
