@model GenaOnline.Models.LearningParamsViewModel

@{
    ViewBag.Title = "Gena online";
}

<div class="jumbotron">
    <h1>Gena online</h1>
</div>

<div class="row">
    <div class="col-md-12">
	    <h2>Choose csv file to load</h2>
		
		@using (Html.BeginForm("LoadFile", "Home", FormMethod.Post, new {enctype = "multipart/form-data"})) {
			
			@Html.EditorForModel()
			<input type="submit" />

			@*<label for="inputsCount">Inputs count:</label>
			<input type="text" name="inputsCount" id="inputsCount" />

			<br />

			<label for="columnsToTake">Columns to take:</label>
			<input type="text" name="columnsToTake" id="columnsToTake" />

			<br />

			<label for="file">Filename:</label>
			<input type="file" name="file" id="file" />

			<input type="submit" />*@
		}
    </div>
</div>